html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
   	background-color:#b0c4de;  
}

#Background
{
    height: 100%;
    min-height: 100%;
}
h1#home-title
{
	width: 300px; 
  	position:relative;
  	left:40%;
  	top:200px;
	color:white;
	font-family:"Arial, Helvetica, sans-serif""
}

#searchbar{
	position:absolute;
	top:200px;
}

#searchbox {
  width: 700px; 
  position:relative;
  left:62%;
  top:147px;
}

#searchbutton {
  position:relative;
  left:-2.5%;
  top:147px;
  color: #FFFFFF; 
  background-color: #000000; 
}

#Background.image-0{background-image:url('/images/dubai.jpg'); background-size: cover; background-repeat: no-repeat;} 
#Background.image-1{background-image:url('/images/Rome.jpg'); background-size: cover; background-repeat: no-repeat;}
#Background.image-2{background-image:url('/images/eiffel.jpg'); background-size: cover; background-repeat: no-repeat;}

.navbar-default {
  background-color: black;
  border-color: black;
  height: 28px;
  padding: 0px;
    margin: 0px
}

.navbar-default .navbar-nav > li > a {
  color: #E0E0E0;
}

.navbar-default .navbar-brand {
  color: #E0E0E0;
}


#traveldates {
  position: relative;
  top: 100px;
  left: 200px;
}

#startdate {
  display:inline-block;
}

#enddate {
  display:inline-block;
}

#travelbutton {
  display:inline-block; 
  position: relative;
  left: 50px; 
  top: -40px; 
  color: #E0E0E0;
  background-color: black; 
}

#traveloptions {
  position: relative;
  top: 75px;
}

#skipbutton {
  color: #E0E0E0;
  background-color: black; 
}

#switchbutton {
  color: #E0E0E0;
  background-color: black; 
}

#choose {
  position: relative;
  left: 50px;
}

#schedule {
  position: relative;
  left: -150px;
  width: 400px;
  height: 500px; 
  display:inline-block; 
  vertical-align:middle;
}

#searchresults {
  position: relative;
  top: 50px; 
  width: 300px; 
  display:inline-block;
  vertical-align:middle;
}

#search {

}

#results {
  position: relative;
  top: 100px;
  width: 300px; 
  height: 500px; 
}

#calender {
  width: 200px; 
  height: 300px; 
}



