.container {
    width: 100%;
}
#calendar {

    /*display: table-cell;*/
}
#events {
    position: absolute;
    overflow: auto;
    width: 55%;
    margin-left: 40%;
    height: 400px;
}
#each-event{
    display:inline-block;
    vertical-align:top;
    width: 200px;
    height: 250px; 
}	
#calendarContainer {
    position: absolute;
    width: 35%; 

}
.fc-view {
    left: 0;
    width: 100%;
}
.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    font-size: .85em;
    cursor: pointer;
}
#saver {
    position: relative;
    margin-top: 410px;
}
#build-search{
	margin-top: 40px;
	margin-left: 55%;
	float: right;
}
#keyword{
	margin-left: 0%;
}
#b-header{
	
	margin-left: 1.2%;
}
#each-event-body{
     margin-top: 75%; 
     background-color: #AAA; 
}
#each-event-footer{
    background-color: white;
}
#event-price{
    display:inline-block;
    vertical-align:top;
}
#myModal{
   
    margin-top: 20%; 
    margin-left: 50%; 
    width: 200px;
    height: 250px;
    background-color: white;
}	

