.container {
    width: 100%;
}
#calendar {

    /*display: table-cell;*/
}
#events {
    overflow: auto;
    height: 400px;
}
.each-event{
    display:inline-block;
    vertical-align:top;
    min-width: 45%;
    min-height: 45%; 
}	
#calendarContainer {
    position: absolute;
    width: 35%; 

}
.fc-view {
    left: 0;
    width: 100%;
}
.external-event {
    margin: 10px 0;
    padding: 2px 4px;
    font-size: .85em;
    cursor: pointer;
}
#saver {
    position: relative;
    margin-top: 10px;
}
#build-search{
	margin-top: 40px;
	margin-left: 55%;
	float: right;
}
#keyword{
	margin-left: 0%;
}
#b-header{
	
	margin-left: 1.2%;
}
#each-event-body{
     background-color: #AAA; 
}
.each-event-header{
    background-color: white;
}
.myModal{  
    margin-top: 20%; 
    margin-left: 50%; 
    width: 200px;
    height: 250px;
    background-color: white;
}	
.modal-link {
    text-decoration:none;
    color: inherit;
}

.modal-link h4 {
    max-width: 150px;
    text-align: center;
    margin: 0;
}
.modal-header {
    vertical-align: middle;
}
body {
    background-color: #FFFFFF;
}
.modal-footer-left {
    text-align: left;
}
.modal-image {
    width: 100%;
}
.grid-image {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  max-height: 150px;
}
@media (max-width: 767px) {
  .modal-dialog-center { /* Edited classname 10/03/2014 */
    width: 100%;
  }
} 
.modal-dialog-center { /* Edited classname 10/03/2014 */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}